<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Blog Index</title>
    {% load static %}
    <!-- The line above tells Django to be ready to listen for static files -->
    <link rel="stylesheet" href="{% static 'blogs/css/bootstrap.css' %}">
    <!-- Put the static files in the static folder inside your app.  
           Django collects files within all static folders and puts them within a single folder -->
</head>

<body>
    <div class="container">
        <h1>Hello blog world!</h1>

        <form action="/blogs/create_blog/" method="POST">
            {% csrf_token %}
            <label for="blog_name">Blog Name:</label>
            <input type="text" id="blog_name" name="blog_name" placeholder="blog name">
            <br>
            <label for="blog_desc">Description:</label>
            <textarea id="blog_desc" name="blog_desc" placeholder="description"></textarea>
            <br>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</body>

</html>